/* Estilo general del footer */
footer {
  background-color: #4b4b4b; /* Fondo oscuro */
  color: #f4f4f4; /* Texto claro */
  padding: 20px 10px;
  text-align: center;
  font-family: 'Roboto', Arial, sans-serif;
  box-shadow: 0 -4px 6px rgba(0, 0, 0, 0.2); /* Sombra superior */
}

/* Redes sociales */
.social-links {
  display: flex;
  justify-content: center;
  gap: 15px;
  margin-bottom: 20px;
}

/* Reloj */
.clock {
  font-size: 1.0rem;
  color: #f4f4f4;
}

.clock h3 {
  margin: 0;
  
}

/* Contenedor superior */
.containerSuperior {
  display: flex;
  justify-content: space-around;
  align-items: center;
}

/* Estilo para la línea horizontal */
.custom-line {
  border: none; /* Elimina el borde predeterminado */
  height: 1px; /* Altura de la línea */
  background-color: #ccc; /* Color de la línea */
  width: 100%; /* Ancho de la línea */
}

/* Copyright */
.copyright {
  font-size: 0.9rem;
  color: #ccc;
}

.copyright p {
  margin: 0;
}

.copyright a {
  color: #007bff; /* Azul para el enlace */
  text-decoration: none;
  transition: color 0.3s ease;
}

.copyright a:hover {
  color: #0056b3; /* Azul más oscuro al pasar el cursor */
}

/* Responsividad */
@media (max-width: 920px) {
  .ocultar-en-movil {
    display: none !important; /* Oculta el elemento en pantallas pequeñas */
  }
}

@media (max-width: 500px) {
  .containerSuperior {
    flex-direction: column; 
  }

  .social-links {
    gap: 10px;
    margin-bottom: 20px; 
  }
  
  .clock {
    font-size: 0.8rem; /* Tamaño de fuente más pequeño para pantallas pequeñas */
    margin-top: 10px; /* Espacio superior */
  }

  .copyright {
    font-size: 0.8rem;
    color: #ccc;
  }
}